.VideoSidebar {
    color: #fff;
    position: absolute;
    right: 10px;
    top: 28%;
}
.VideoSidebar__button {
    padding: 20px;
    text-align: center;
}
.VideoSidebar__button:last-child{
    padding: 5px 20px;
}